YYYY-MM-DD HH:MM:SS,SSS - siri_logger - INFO - Loaded cog: bot_src.cogs.cog.cog
YYYY-MM-DD HH:MM:SS,SSS - siri_logger - INFO - Received exit signal 2. Shutting down bot...
YYYY-MM-DD HH:MM:SS,SSS - siri_logger - INFO - Bot event loop closing